In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'/projects/kster/combine_lab'

In [28]:
spots = pd.read_csv('Data/spatialLIBD/spatialLIBD_spot_counts.csv', header = 0, index_col = 0, sep =',')
st = pd.read_csv('Data/spatialLIBD/spatialLIBD_spot_st.csv')
gene_meta = pd.read_csv('Data/spatialLIBD/gene_meta.csv')
cell_type = pd.read_csv('Data/spatialLIBD/RowDataTable1.csv')

In [6]:
spots

,sample_id,Cluster,sum_umi,sum_gene,subject,position,replicate,subject_position,discard,key,...,SpatialDE_UMAP_spatial,SpatialDE_pool_UMAP_spatial,HVG_UMAP_spatial,pseudobulk_UMAP_spatial,markers_UMAP_spatial,spatialLIBD,ManualAnnotation,in_tissue,array_row,array_col
AAACAACGAATAGTTC-1,151507,6,948,727,Br5292,0,1,Br5292_pos0,False,151507_AAACAACGAATAGTTC-1,...,1,1,1,1,1,L1,NaN,True,0,16
AAACAAGTATCTCCCA-1,151507,3,4261,2170,Br5292,0,1,Br5292_pos0,False,151507_AAACAAGTATCTCCCA-1,...,2,2,1,2,1,L3,NaN,True,50,102
AAACAATCTACTAGCA-1,151507,2,1969,1093,Br5292,0,1,Br5292_pos0,False,151507_AAACAATCTACTAGCA-1,...,2,1,4,1,6,L1,NaN,True,3,43
AAACACCAATAACTGC-1,151507,5,3368,1896,Br5292,0,1,Br5292_pos0,False,151507_AAACACCAATAACTGC-1,...,7,8,7,8,1,WM,NaN,True,59,19
AAACAGCTTTCAGAAG-1,151507,1,2981,1620,Br5292,0,1,Br5292_pos0,False,151507_AAACAGCTTTCAGAAG-1,...,8,2,8,1,1,L6,NaN,True,43,9

In [8]:
spots.columns

Index(['sample_id', 'Cluster', 'sum_umi', 'sum_gene', 'subject', 'position',
       'replicate', 'subject_position', 'discard', 'key', 'cell_count',
       'SNN_k50_k4', 'SNN_k50_k5', 'SNN_k50_k6', 'SNN_k50_k7', 'SNN_k50_k8',
       'SNN_k50_k9', 'SNN_k50_k10', 'SNN_k50_k11', 'SNN_k50_k12',
       'SNN_k50_k13', 'SNN_k50_k14', 'SNN_k50_k15', 'SNN_k50_k16',
       'SNN_k50_k17', 'SNN_k50_k18', 'SNN_k50_k19', 'SNN_k50_k20',
       'SNN_k50_k21', 'SNN_k50_k22', 'SNN_k50_k23', 'SNN_k50_k24',
       'SNN_k50_k25', 'SNN_k50_k26', 'SNN_k50_k27', 'SNN_k50_k28',
       'GraphBased', 'Maynard', 'Martinowich', 'layer_guess',
       'layer_guess_reordered', 'layer_guess_reordered_short', 'expr_chrM',
       'expr_chrM_ratio', 'SpatialDE_PCA', 'SpatialDE_pool_PCA', 'HVG_PCA',
       'pseudobulk_PCA', 'markers_PCA', 'SpatialDE_UMAP',
       'SpatialDE_pool_UMAP', 'HVG_UMAP', 'pseudobulk_UMAP', 'markers_UMAP',
       'SpatialDE_PCA_spatial', 'SpatialDE_pool_PCA_spatial',
       'HVG_PCA_spatial', 'pseudobulk_PCA_spatial', 'markers_PCA_spatial',
       'SpatialDE_UMAP_spatial', 'SpatialDE_pool_UMAP_spatial',
       'HVG_UMAP_spatial', 'pseudobulk_UMAP_spatial', 'markers_UMAP_spatial',
       'spatialLIBD', 'ManualAnnotation', 'in_tissue', 'array_row',
       'array_col'],
      dtype='object')

In [12]:
spots.shape

(47681, 69)

In [25]:
# how many samples in dataset
len(np.unique(spots.loc(axis=1)['sample_id'].values))

12

In [27]:
np.unique(spots.loc(axis=1)['subject'].values)

array(['Br5292', 'Br5595', 'Br8100'], dtype=object)

In [31]:
# rename st column names
st.columns = ["spot", "X", "Y"]
st.head()

                 spot     X     Y
0  AAACAACGAATAGTTC-1  3276  2514
1  AAACAAGTATCTCCCA-1  9178  8520
2  AAACAATCTACTAGCA-1  5133  2878
3  AAACACCAATAACTGC-1  3462  9581
4  AAACAGCTTTCAGAAG-1  2779  7663

In [32]:
gene_meta.head()

,Unnamed: 0,source,type,gene_id,gene_version,gene_name,gene_source,gene_biotype,gene_search,is_top_hvg
0,ENSG00000243485,havana,gene,ENSG00000243485,5,MIR1302-2HG,havana,lincRNA,MIR1302-2HG; ENSG00000243485,False
1,ENSG00000237613,havana,gene,ENSG00000237613,2,FAM138A,havana,lincRNA,FAM138A; ENSG00000237613,False
2,ENSG00000186092,ensembl_havana,gene,ENSG00000186092,6,OR4F5,ensembl_havana,protein_coding,OR4F5; ENSG00000186092,False
3,ENSG00000238009,ensembl_havana,gene,ENSG00000238009,6,AL627309.1,ensembl_havana,lincRNA,AL627309.1; ENSG00000238009,False
4,ENSG00000239945,havana,gene,ENSG00000239945,1,AL627309.3,havana,lincRNA,AL627309.3; ENSG00000239945,False

In [33]:
cell_type.head()

,Unnamed: 0,ID,gene_biotype,Symbol,propNucleiExprs,propExprsIn.Astro,propExprsIn.Excit_A,propExprsIn.Excit_B,propExprsIn.Excit_C,propExprsIn.Excit_D,...,propExprsIn.Inhib_C,propExprsIn.Inhib_D,propExprsIn.Inhib_E,propExprsIn.Inhib_F,propExprsIn.Macrophage,propExprsIn.Micro,propExprsIn.Mural,propExprsIn.Oligo,propExprsIn.OPC,propExprsIn.Tcell
0,MIR1302-2HG,ENSG00000243485,lincRNA,MIR1302-2HG,0.000179,0.000000,0.000000,0.001294,0.000000,0.000000,...,0.002740,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.00000,0.000000,0.0
1,FAM138A,ENSG00000237613,lincRNA,FAM138A,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.00000,0.000000,0.0
2,OR4F5,ENSG00000186092,protein_coding,OR4F5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.00000,0.000000,0.0
3,AL627309.1,ENSG00000238009,lincRNA,AL627309.1,0.095876,0.033248,0.240076,0.124191,0.282443,0.212121,...,0.158904,0.196126,0.142857,0.125,0.0,0.046392,0.0,0.04473,0.031469,0.0
4,AL627309.3,ENSG00000239945,lincRNA,AL627309.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.00000,0.000000,0.0

In [37]:
cell_type = cell_type.drop(['Unnamed: 0', 'gene_biotype', "Symbol"], axis=1)

In [51]:
### Get top three cell type per geneID by highest probability
# cell_type = cell_type.set_index('ID')
cell_top3 = pd.DataFrame(cell_type.columns.values[np.argsort(-cell_type.iloc[:, 1:].values, axis=1)[:, :3]],
                        index = cell_type.index,
                        columns = ['cell_prob1', 'cell_prob2', 'cell_prob3']).reset_index()
cell_top3

,ID,cell_prob1,cell_prob2,cell_prob3
0,ENSG00000243485,propExprsIn.Inhib_B,propExprsIn.Excit_A,propExprsIn.Mural
1,ENSG00000237613,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
2,ENSG00000186092,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
3,ENSG00000238009,propExprsIn.Excit_D,propExprsIn.Excit_E,propExprsIn.Excit_B
4,ENSG00000239945,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
...,...,...,...,...
33533,ENSG00000277856,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
33534,ENSG00000275063,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
33535,ENSG00000271254,propExprsIn.Inhib_C,propExprsIn.Excit_D,propExprsIn.Excit_E
33536,ENSG00000277475,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro
33537,ENSG00000268674,propNucleiExprs,propExprsIn.Mural,propExprsIn.Micro

In [74]:
cell_type.columns.values[np.argsort(-cell_type.iloc[:, 1:].values, axis=1)[:, :3]]

array([['propExprsIn.Inhib_B', 'propExprsIn.Excit_A',
        'propExprsIn.Mural'],
       ['propNucleiExprs', 'propExprsIn.Mural', 'propExprsIn.Micro'],
       ['propNucleiExprs', 'propExprsIn.Mural', 'propExprsIn.Micro'],
       ...,
       ['propExprsIn.Inhib_C', 'propExprsIn.Excit_D',
        'propExprsIn.Excit_E'],
       ['propNucleiExprs', 'propExprsIn.Mural', 'propExprsIn.Micro'],
       ['propNucleiExprs', 'propExprsIn.Mural', 'propExprsIn.Micro']],
      dtype=object)

In [64]:
cell_top3_vals = pd.DataFrame(cell_type.values[np.argsort(-cell_type.iloc[:, 1:].values, axis=1)[:, :3]],
                        index = cell_type.index,
                        columns = ['prob1', 'prob2', 'prob3']).reset_index()
cell_top3_vals

ValueError: Must pass 2-d input. shape=(33538, 3, 20)

In [61]:
np.argsort(-cell_type.iloc[:, 1:].values, axis=1)[:, :3]

array([[ 9,  2, 16],
       [ 0, 16, 15],
       [ 0, 16, 15],
       ...,
       [10,  5,  6],
       [ 0, 16, 15],
       [ 0, 16, 15]])